// MEdia for 1432

@media screen and (max-width: 1432px) {
  header {
    padding: 0 !important;
  }
  .section {
    padding: 7rem 11rem;
  }

  .contact-content-con {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .contact-content-con,
  .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con,
  .right-contact .i-c-2 .input-2 {
    margin-left: 0 !important;
    margin-top: 1.5rem;
    padding-left: 0;
  }
}

@media screen and(max-width:1200px) {
  .portfolios,
  .blogs {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1160px) {
  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      padding-top: 2.5rem;
    }
  }

  .main-title {
    h2 {
      font-size: 4rem;
      span {
        font-size: 4rem;
      }
      .bg-text {
        font-size: 4.5rem;
      }
    }
  }
}

@media screen and(max-width:970px) {
  .portfolios,
  .blogs {
    grid-template-columns: 1fr !important;
  }
  .sec2,
  .sec5 {
    padding: 2rem 4rem !important;
  }

  .controlls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-gray-5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 0.5px solid;
    border-color: rgb(82, 91, 91);
    .control {
      margin: 1rem 0.3rem;
    }
  }
  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }
    .left-about {
      padding-right: 0;
      P {
        padding-left: 0;
      }
    }
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem !important;
  }

  .about-status {
    .progress-bars {
      grid-template-columns: 1fr;
    }
  }
}

// for secreen 600px

@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }

  .theme-btn {
    width: 40px;
    height: 40px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header {
    .h-shape {
      display: none;
    }
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
    .name {
      font-size: 2.5rem !important;
    }
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }

  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .blogs {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .section {
    padding: 2rem 2.5rem !important;
  }

  .main-title {
    h2 {
      font-size: 2.5rem;
      span {
        font-size: 3.5rem !important;
      }
      .bg-text {
        font-size: 4rem;
      }
    }
  }
  .about-container {
    .left-about {
      padding-left: 0 !important;
      padding-top: 0;
    }
    .right-about {
      padding-left: 0 !important;
    }
  }
  .about-container .right-about {
    padding-right: 0 !important;
  }
  .contact-content-con .left-contact .contact-info .contact-item {
    display: grid;
  }
}
